version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/darkzbox?schema=public
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
      - NEXTAUTH_URL=https://${DOMAIN_NAME}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    depends_on:
      - postgres
      - redis
    networks:
      - darkzbox-network

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: darkzbox
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - darkzbox-network

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data_prod:/data
    networks:
      - darkzbox-network

  caddy:
    image: caddy:2-alpine
    restart: always
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - darkzbox-network

volumes:
  postgres_data_prod:
  redis_data_prod:
  caddy_data:
  caddy_config:


networks:
  darkzbox-network:
    driver: bridge
